<leaflet defaults="defaults" bounds="bounds" center="center"></leaflet>
<div class="dialog">
    <header>{{title}}</header>

    <div class="dialog_section highlight">
        <div class="btn-group" dropdown is-open="status.isopen">
            <button type="button" class="dropdown-toggle dialog_button">
                Destination <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
            </ul>
        </div>
    </div>
    <div class="dialog_section restriction_highlight restriction">
        <div>Restrictions</div>
        <img src="images/mapbox-maki-489674e/renders/disability-18@2x.png" alt-name="Disability" />
    </div>
</div>
